h1{
    background-color: dodgerblue;
    color: #fff;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 100px 0;
}