{% extends "base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}
<section id="contact">
<div class="container">
    <div class="vh-100 row justify-content-center align-items-center">
        <div class="col-6 shadow p-3 rounded">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row gy-3">
                    <div class="col-6">
                      <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Name" value="{{ form.instance.name }}">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" name="phone" placeholder="Phone" aria-label="Phone" value="{{ form.instance.phone }}">
                    </div>
                    <div class="col-6">
                      <input type="email" class="form-control" name="email" placeholder="E-mail" aria-label="E-mail" value="{{ form.instance.email }}">
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" name="subject" placeholder="Subject" aria-label="Subject" value="{{ form.instance.subject }}">
                    </div>
                    <div class="col-12">
                      <textarea name="message" class="form-control" placeholder="Message ..." aria-label="Message" rows="5">{{ form.instance.message }}</textarea>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger px-4">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock content %}
