{% extends "base.html" %}


{% block content %}
<section id="contact">
<div class="container">
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-12 shadow p-3 rounded">
            <div class="row">
                <div class="col">
                    <p>Name</p>
                </div>
                <div class="col">
                    {{ contact.name }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Phone</p>
                </div>
                <div class="col">
                    {{ contact.phone }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>E-mail</p>
                </div>
                <div class="col">
                    {{ contact.email }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Subject</p>
                </div>
                <div class="col">
                    {{ contact.subject }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Message</p>
                </div>
                <div class="col">
                    {{ contact.message }}
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="/" class="btn btn-primary">Back To Home</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}
